@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700&display=swap);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #0f1626 !important;
}
.bg-info {
  background-color: #ccba9d !important;
}
.bg-warning {
  background-color: #ff553d !important;
}
.bg-danger {
  background-color: #28324e !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-info {
  background-color: #ccba9d;
  border-color: #ccba9d;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #b2976b;
  border-color: #b2976b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b2976b !important;
  border-color: #b2976b !important;
}
.btn-success {
  background-color: #0f1626;
  border-color: #0f1626;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning {
  background-color: #ff553d;
  border-color: #ff553d;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #f01e00;
  border-color: #f01e00;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #f01e00 !important;
  border-color: #f01e00 !important;
}
.btn-danger {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-info-outline {
  background: none;
  border-color: #a98b5a;
  color: #a98b5a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ccba9d;
  border-color: #ccba9d;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ccba9d !important;
  border-color: #ccba9d !important;
}
.btn-success-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #0f1626;
  border-color: #0f1626;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0f1626 !important;
  border-color: #0f1626 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #d61a00;
  color: #d61a00;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ff553d;
  border-color: #ff553d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff553d !important;
  border-color: #ff553d !important;
}
.btn-danger-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #0f1626 !important;
}
.text-info {
  color: #ccba9d !important;
}
.text-warning {
  color: #ff553d !important;
}
.text-danger {
  color: #28324e !important;
}
.alert-success {
  background-color: #0f1626;
}
.alert-info {
  background-color: #ccba9d;
}
.alert-warning {
  background-color: #ff553d;
}
.alert-danger {
  background-color: #28324e;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b7c5e3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#header3-i .mbr-section-subtitle {
  font-family: 'Raleway', sans-serif;
}
#ext_menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7 .navbar-caption {
  color: #ffffff;
}
#ext_menu-7 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7 .close-icon::before,
#ext_menu-7 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7 .link,
#ext_menu-7 .dropdown-item {
  color: #ffffff;
}
#ext_menu-7 .link {
  font-size: 0.75rem;
}
#ext_menu-7 .dropdown-item,
#ext_menu-7 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-7 .link:hover,
#ext_menu-7 .dropdown-item:hover,
#ext_menu-7 .link:focus,
#ext_menu-7 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-menu {
  background: #171c2c;
}
#ext_menu-7 .nav-dropdown-sm .link:focus,
#ext_menu-7 .nav-dropdown-sm .link:hover,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#ext_menu-7 .navbar,
#ext_menu-7 .nav-dropdown-sm,
#ext_menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#ext_menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7 .bg-color.transparent.opened .link:hover,
#ext_menu-7 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#social-buttons4-13 .mbr-section-title,
#social-buttons4-13 .btn-social {
  color: #fff;
}
#social-buttons4-13 .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons4-13 .mbr-section-title {
  font-size: 10px;
}

#header3-l .mbr-section-title,
#header3-l .mbr-section-subtitle {
  text-align: center;
}
#header3-l .mbr-section-subtitle SPAN {
  font-family: 'Raleway', sans-serif;
}
#ext_menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9 .navbar-caption {
  color: #ffffff;
}
#ext_menu-9 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-9 .close-icon::before,
#ext_menu-9 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-9 .link,
#ext_menu-9 .dropdown-item {
  color: #ffffff;
}
#ext_menu-9 .link {
  font-size: 0.75rem;
}
#ext_menu-9 .dropdown-item,
#ext_menu-9 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-9 .link:hover,
#ext_menu-9 .dropdown-item:hover,
#ext_menu-9 .link:focus,
#ext_menu-9 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-menu {
  background: #171c2c;
}
#ext_menu-9 .nav-dropdown-sm .link:focus,
#ext_menu-9 .nav-dropdown-sm .link:hover,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#ext_menu-9 .navbar,
#ext_menu-9 .nav-dropdown-sm,
#ext_menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#ext_menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9 .bg-color.transparent.opened .link:hover,
#ext_menu-9 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#social-buttons4-14 .mbr-section-title,
#social-buttons4-14 .btn-social {
  color: #fff;
}
#social-buttons4-14 .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons4-14 .mbr-section-title {
  font-size: 10px;
}


#header3-n .mbr-section-title,
#header3-n .mbr-section-subtitle {
  text-align: center;
}
#header3-n .mbr-section-subtitle SPAN {
  font-family: 'Raleway', sans-serif;
}
#header3-n .mbr-section-subtitle {
  font-family: 'Raleway', sans-serif;
}
#msg-box5-y H3 {
  font-size: 22px;
  color: #323232;
}
#msg-box5-y SPAN {
  font-size: 16px;
}
#social-buttons4-15 .mbr-section-title,
#social-buttons4-15 .btn-social {
  color: #fff;
}
#social-buttons4-15 .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons4-15 .mbr-section-title {
  font-size: 10px;
}
#ext_menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-b .navbar-caption {
  color: #ffffff;
}
#ext_menu-b .navbar-toggler {
  color: #ffffff;
}
#ext_menu-b .close-icon::before,
#ext_menu-b .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-b .link,
#ext_menu-b .dropdown-item {
  color: #ffffff;
}
#ext_menu-b .link {
  font-size: 0.75rem;
}
#ext_menu-b .dropdown-item,
#ext_menu-b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-b .link:hover,
#ext_menu-b .dropdown-item:hover,
#ext_menu-b .link:focus,
#ext_menu-b .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-b .link[aria-expanded="true"],
#ext_menu-b .dropdown-menu {
  background: #171c2c;
}
#ext_menu-b .nav-dropdown-sm .link:focus,
#ext_menu-b .nav-dropdown-sm .link:hover,
#ext_menu-b .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#ext_menu-b .navbar,
#ext_menu-b .nav-dropdown-sm,
#ext_menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-b .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#ext_menu-b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-b .bg-color.transparent.opened .link:hover,
#ext_menu-b .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-b .link[aria-expanded="true"],
#ext_menu-b .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}


#ext_menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-d .navbar-caption {
  color: #ffffff;
}
#ext_menu-d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-d .close-icon::before,
#ext_menu-d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-d .link,
#ext_menu-d .dropdown-item {
  color: #ffffff;
}
#ext_menu-d .link {
  font-size: 0.75rem;
}
#ext_menu-d .dropdown-item,
#ext_menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-d .link:hover,
#ext_menu-d .dropdown-item:hover,
#ext_menu-d .link:focus,
#ext_menu-d .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-menu {
  background: #171c2c;
}
#ext_menu-d .nav-dropdown-sm .link:focus,
#ext_menu-d .nav-dropdown-sm .link:hover,
#ext_menu-d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#ext_menu-d .navbar,
#ext_menu-d .nav-dropdown-sm,
#ext_menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-d .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#ext_menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-d .bg-color.transparent.opened .link:hover,
#ext_menu-d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-p .mbr-section-title,
#header3-p .mbr-section-subtitle {
  text-align: center;
}
#header3-p .mbr-section-subtitle SPAN {
  font-family: 'Raleway', sans-serif;
}
#header3-p .mbr-section-subtitle {
  font-family: 'Raleway', sans-serif;
}
#social-buttons4-16 .mbr-section-title,
#social-buttons4-16 .btn-social {
  color: #fff;
}
#social-buttons4-16 .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons4-16 .mbr-section-title {
  font-size: 10px;
}


#ext_menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-f .navbar-caption {
  color: #ffffff;
}
#ext_menu-f .navbar-toggler {
  color: #ffffff;
}
#ext_menu-f .close-icon::before,
#ext_menu-f .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-f .link,
#ext_menu-f .dropdown-item {
  color: #ffffff;
}
#ext_menu-f .link {
  font-size: 0.75rem;
}
#ext_menu-f .dropdown-item,
#ext_menu-f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-f .link:hover,
#ext_menu-f .dropdown-item:hover,
#ext_menu-f .link:focus,
#ext_menu-f .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-menu {
  background: #171c2c;
}
#ext_menu-f .nav-dropdown-sm .link:focus,
#ext_menu-f .nav-dropdown-sm .link:hover,
#ext_menu-f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#ext_menu-f .navbar,
#ext_menu-f .nav-dropdown-sm,
#ext_menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-f .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#ext_menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-f .bg-color.transparent.opened .link:hover,
#ext_menu-f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#social-buttons4-17 .mbr-section-title,
#social-buttons4-17 .btn-social {
  color: #fff;
}
#social-buttons4-17 .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons4-17 .mbr-section-title {
  font-size: 10px;
}
#form1-10 .form-control-label {
  color: #232323;
}
#form1-10 .mbr-section-subtitle SPAN {
  font-family: 'Raleway', sans-serif;
}
#form1-10 .mbr-section-subtitle {
  font-family: 'Raleway', sans-serif;
}
#social-buttons4-1c .mbr-section-title,
#social-buttons4-1c .btn-social {
  color: #fff;
}
#social-buttons4-1c .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons4-1c .mbr-section-title {
  font-size: 10px;
}
#ext_menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1 .navbar-caption {
  color: #ffffff;
}
#ext_menu-1 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1 .close-icon::before,
#ext_menu-1 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1 .link,
#ext_menu-1 .dropdown-item {
  color: #ffffff;
}
#ext_menu-1 .link {
  font-size: 0.75rem;
}
#ext_menu-1 .dropdown-item,
#ext_menu-1 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1 .link:hover,
#ext_menu-1 .dropdown-item:hover,
#ext_menu-1 .link:focus,
#ext_menu-1 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-menu {
  background: #171c2c;
}
#ext_menu-1 .nav-dropdown-sm .link:focus,
#ext_menu-1 .nav-dropdown-sm .link:hover,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#ext_menu-1 .navbar,
#ext_menu-1 .nav-dropdown-sm,
#ext_menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#ext_menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1 .bg-color.transparent.opened .link:hover,
#ext_menu-1 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box1-2 H3 {
  color: #0f1626;
}
#social-buttons4-11 .mbr-section-title,
#social-buttons4-11 .btn-social {
  color: #fff;
}
#social-buttons4-11 .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons4-11 .mbr-section-title {
  font-size: 10px;
}
